/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
/* natalia css file */
.body {
    font-family: "Francois One", sans-serif;
    background-color: #f2d6c4;
}

.francois-one {
	font-family: "Francois One", sans-serif;
	font-weight: 400;
  	font-style: normal;
	margin: 0;
}

/* Container */
.nadoba {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #f2d6c4; 
}
/* Header */
hlavicka {
	width: 100%;
	height: 8%;
	background-color: #5D5E5D;
	border-bottom: 1px solid #353635;
}
.logo {
	color: #fff;
	font-weight: bold;
	margin-left: auto;
	letter-spacing: 4px;
	margin-right: auto;
	text-align: center;
	padding-top: 15px;
	line-height: 2em;
	font-size: 22px;
}
.hero_header {
	color: #000;
	text-align: center;
	margin: 0;
	letter-spacing: 4px;
}
/* About Section */
.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #fff;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 23%;
	text-align: center;
	float: left;
	margin-top: 35px;
	background-color: #F8F8F8;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 20px;
	border-bottom: 4px solid #f28e4f;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #000; 
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
.gallery .thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 20px;
	}
/* Changing the main font and background colour */

/* More info */
.intro {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
.intro .column h3 {
	color: #FFFFFF;
	text-align: center;
}
.intro .column p {
	color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
	opacity: 0.8;
}
.intro .column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
	width: 80%;
	margin-top: 4%;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #6DC7D0;
	color: #FFFFFF;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
footer {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
}
.intro {
	display: inline-block;
	background-color: #A4A4A4;
}
.profile {
	width: 50%;
}
.gallery .thumbnail .tag {
	color: #5D5E5D;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding: 0;
}
.intro .column p {
	width: 80%;
	margin-left: 0px;
}
.text_column {
	padding-left: 20px;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding: 0;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.thumbnail {
	width: 100%;
}
.text_column {
	padding-left: 20px;
	padding-right: 20px;
	width: 90%;
}
.column {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.profile {
	width: 100%;
}
.intro .column p {
	width: 90%;
	text-align: center;
	padding-left: 0px;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 48%;
}
.text_column {
	width: 90%;
	margin: 0;
	padding: 20px;
}
.intro .column p {
	width: 80%;
}
}

/*programming the calendar*/
.button_calendar {
  border-radius: 1px;
  background-color: #f28e4f;
  border: none; 
  color: #FFFFFF; 
  text-align: center;
  font-size: 15px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.button_calendar span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_calendar span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_calendar:hover span {
  padding-right: 25px;
}

.button_calendar:hover span:after {
  opacity: 1;
  right: 0;
}

/* Changing the background colour for the header */

header {
	background-color: #fffcf8; 
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #f28e4f;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #6630d1; 
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.custom-bg-color { 
    background-color: #fff; 
}

 /*our pictures */ 
*,* ::before, *::after{
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%; /* Adjust this value for the desired width of each column */
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 450px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
	margin-left: auto;
	margin-right: auto;
    padding-right: 50px;
	padding-left: 50px;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #f28e4f;
}
/*end of our pictures*/ 

.topnav .login-container button:hover {
  background: #f28e4f; 
}
/*the start of the sign up button */
* {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
signup-button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

signup-button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.registration-box {
  padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
/*the end of the sign up button */

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ff6708;
/*the end of the sign up button */
}	
	/*values*/
.columns1 {
	width: 25%;
	float: left;
	font-family: "Francois One", sans-serif, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: #A5A5A5;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
	/*tumbnails*/
	
.thumbnail1 {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;}

.thumbnail_align1 {
	text-align: center;
	
	/* text color of slogan on the hero page, under the logo*/
}
.text3{
	color: #000}
 
/*social media posts*/ 
.social-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 10px; /* Adjust the gap between items */
}

.social-media1 {
	width: 100%;
	height: 100%;
	margin-left: auto;
}
.item {
    /* Optional: You can add additional styling to the items */
}

/* Optional: Adjust the image size */
.img-thumbnail {
    width: 100%; /* Make sure the images fill their container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default inline styling */
}

/*blog */
* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
blog-body {
  font-family: "Francois One", sans-serif, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header-blog {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn-blog {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn-blog {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg-blog {
  background-color: #F5E320 ;
  width: 100%;
  padding: 10px;
}

/* Add a card effect for articles */
.card-blog {
   background-color: white;
   padding: 20px;
  margin: 20px 0;
  border: 1px solid #ddd;
}

/* Clear floats after the columns */
.row-blog:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer-blog {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.leftcolumn-blog {
 float: left;
 width: 70%; 
 padding: 10px;
}

.rightcolumn-blog {
float: right;
width: 30%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
/*end of blog */